body {
    background-color: #666;
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;
    text-decoration: none;
}

h1, h2, h3 .gallery {
    text-align: center;
}



.gallery:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img {
    display: block;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    width: auto;
    max-width: none;
    min-height: 100%;
    min-width: 105%;
    height: 105%;
}

.gallery a {
    box-shadow: 0 0 4px -1px #000;
    margin: 4px 6px;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.4rem;
    max-width: 100%;
    overflow: hidden;
}

.baguetteBoxOne {
	width:1020px; 
	margin:40px auto 0 auto;
}