body {
    background-color: #666;
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;
    text-decoration: none;
}

h1, h2, h3 .gallery {
    text-align: center;
}


.gallery li {
    list-style: none;
    opacity: 0;
}

.gallery li.shown,
.no-js .gallery li,
.no-cssanimations .gallery li {
    opacity: 1;
}

.gallery li a,
.gallery li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}



/* Effect 1: opacity */
.gallery.effect-1 li.animate {
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
    0% { }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { }
    100% { opacity: 1; }
}

/* Effect 2: Move Up */
.gallery.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.gallery.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.gallery.effect-4 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.gallery.effect-4 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -webkit-animation: fallPerspective .8s ease-in-out forwards;
    animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
    0% { }
    100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
    0% { }
    100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.gallery.effect-5 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.gallery.effect-5 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -300px;
    transform-origin: 50% 50% -300px;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-animation: fly .8s ease-in-out forwards;
    animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
    0% { }
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
    0% { }
    100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.gallery.effect-6 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.gallery.effect-6 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip .8s ease-in-out forwards;
    animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
    0% { }
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
    0% { }
    100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.gallery.effect-7 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.gallery.effect-7 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: helix .8s ease-in-out forwards;
    animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
    0% { }
    100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
    0% { }
    100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.gallery.effect-8 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.gallery.effect-8 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-animation: popUp .8s ease-in forwards;
    animation: popUp .8s ease-in forwards;
}

.gallery:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img {
    display: block;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    width: auto;
    max-width: none;
    min-height: 100%;
    min-width: 105%;
    height: 105%;
}

.gallery a {
    box-shadow: 0 0 4px -1px #000;
    margin: 4px 6px;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.4rem;
    max-width: 100%;
    overflow: hidden;
}

.baguetteBoxOne {
	width:1020px; 
	margin:40px auto 0 auto;
}